@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-y: scroll;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes expand-height {
  from {
    height: 0;
    opacity: 0.5;
  }
  to {
    height: 8rem;
    opacity: 1;
  }
}

.animate-expand-height {
  animation-name: expand-height;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #0071bd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
